@model IEnumerable<_231103015_Ali_Yahya_Atasever.Database.Anasayfa>

@{
    Layout = "~/Views/Shared/adminpanel.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
        <a class="action-link create" asp-action="Create">Yeni Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anasayfabaslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anasayfaicerik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anasayfaresim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Anasayfabaslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anasayfaicerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anasayfaresim)
            </td>
            <td>
                        <a class="action-link edit" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                        <a class="action-link details" asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                        <a class="action-link delete" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
